html {
  box-sizing: border-box;
}
header{
    font-family: Shadows Into Light, monospace;
    font-size: 4vw;
    text-align: center;
}
img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    grid.area: img;
    justify-self: center;
}
figcaption{
    text-align: center;
    font-size: 0.7vw;
}
.container {
    font-size: 1em;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    grid-template-areas:
    "content1 content2";
}
.content1 {
    grid-area: content1;
    jusify-self: center;
    padding: 20px 40px 20px 40px;
}
.content2 {
    grid-area: content2;
    jusify-self: center;
    padding: 20px 40px 20px 40px;
}
th {
    height: 50px;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
a {
    color: #000;
    text-decoration: none; 
}
a:hover {
    color: #022f77;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}


.fog {
    position: relative;
    height: 175vh;
    width: 100%;
    background-color: #000;
    background-image: url('https://c.pxhere.com/photos/8c/b0/night_urban_dark_street_evening_dusk_scene_london-1335251.jpg!d');
    background-size: cover;
    overflow: hidden;
}

.fog__container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.fog__img--first {
    position: absolute;
    height: 175vh;
    width: 300vw;
    background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png') repeat-x;
    background-size: contain;
    background-position: center;
    animation: fog 60s linear infinite;
}

.fog__img--second {
    background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png') repeat-x;
    background-size: contain;
    background-position: center;
    animation: fog 40s linear infinite;
}

@keyframes fog {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-200vw, 0, 0); }
}