h1{
    color: green;
}
header {
    flex-direction: row;
}
header .profile-name {
    margin-left: 10px;
}
header .follow-btn {
    margin: 0 0 0 auto;
}
header .follow-btn button {
    border: 0;
    border-radius: 3px;
    padding: 5px;
}
header .thumb{
    width: 100px;
    border-radius: 50%;
    border-color: green;
    border-width: 10px;
    border-style: solid;
}